<div class="container py-3">
  <div class="mt-4 mb-2 text-center">
    <img class="d-block mx-auto mb-4 dexco" src="assets/logo_dexco.png" alt="" width="72" height="57">
  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 ">
    <div class="col-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
          <h4 class="my-0 fw-normal">Fundição</h4>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="col-8 justify-content-center d-flex">
              <h5 class="">P210</h5>
              <div class="col-4 led-green mt-1"></div>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="col-8 justify-content-center d-flex">
              <h5 class="">P21</h5>
              <div class="col-4 led-red mt-1"></div>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="col-8 justify-content-center d-flex">
              <h5 class="">P760</h5>
              <div class="col-4 led-green mt-1"></div>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="col-8 justify-content-center d-flex">
              <h5 class="">P76</h5>
              <div class="col-4 led-green mt-1"></div>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-6 card-body pt-0">
          <div class="col-8 justify-content-center d-flex">
            <h5 class="">P380</h5>
            <div class="col-4 led-green mt-1"></div>
          </div>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Molde Isolado (MI):</li>
            <li>Produção Líquida:</li>
            <li>Estoque Previsto:</li>
            <li>Inventário:</li>
            <li>Status do Estoque:</li>
            <li>Saída Prevista:</li>
            <li>Delta Saída:</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
          <h4 class="my-0 fw-normal">Inspeção</h4>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P210</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P21</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P760</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P76</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-6 card-body pt-0">
          <div class="text-center">
            <h5>P380</h5>
          </div>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Molde Isolado (MI):</li>
            <li>Produção Líquida:</li>
            <li>Estoque Previsto:</li>
            <li>Inventário:</li>
            <li>Status do Estoque:</li>
            <li>Saída Prevista:</li>
            <li>Delta Saída:</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
          <h4 class="my-0 fw-normal">Esmaltação</h4>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P210</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P21</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P760</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P76</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-6 card-body pt-0">
          <div class="text-center">
            <h5>P380</h5>
          </div>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Molde Isolado (MI):</li>
            <li>Produção Líquida:</li>
            <li>Estoque Previsto:</li>
            <li>Inventário:</li>
            <li>Status do Estoque:</li>
            <li>Saída Prevista:</li>
            <li>Delta Saída:</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3 text-center">
          <h4 class="my-0 fw-normal">Forno</h4>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P210</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P21</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P760</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
          <div class="col-6 card-body pt-0">
            <div class="text-center">
              <h5>P76</h5>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Molde Isolado (MI):</li>
              <li>Produção Líquida:</li>
              <li>Estoque Previsto:</li>
              <li>Inventário:</li>
              <li>Status do Estoque:</li>
              <li>Saída Prevista:</li>
              <li>Delta Saída:</li>
            </ul>
          </div>
        </div>
        <div class="col-6 card-body pt-0">
          <div class="text-center">
            <h5>P380</h5>
          </div>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Molde Isolado (MI):</li>
            <li>Produção Líquida:</li>
            <li>Estoque Previsto:</li>
            <li>Inventário:</li>
            <li>Status do Estoque:</li>
            <li>Saída Prevista:</li>
            <li>Delta Saída:</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
