.dexco {
  width: 400px;
}

.display {
  display: grid;
  justify-items: center;
}

.table-striped {
  max-width: 1100px;
}

thead {
  text-align-last:center;
  border-bottom: 1px solid;
}
tbody {
  text-align-last: center;
}

.gray {
  background-color: #cfcfcf;
}

.gray {
  background-color: #e3e1e1;
}

.b-radius-10 {
 border-radius: 10px;
}

.b-radius-6 {
  border-radius: 6px;
 }

 .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input {
  height: 37px;
  border: 1px solid #ced4da;
}
