<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4 dexco" src="../assets/logo_dexco.png" alt="" width="72" height="57">
    </div>

    <div class="row g-5">
      <div class="col-md-12">
        <h4 class="mb-3">FUNDIÇÃO</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-md-3">
              <label for="Equipe" class="form-label">Equipe</label>
              <select class="form-select" id="Equipe" required>
                <option value="">Selecionar turno</option>
                <option>Primeiro turno</option>
                <option>Segundo turno</option>
                <option>Terceiro turno</option>
                <option>Folguista</option>
              </select>
            </div>
            <div class="col-12 d-flex">
              <div class="col-6 sku">
                <label for="username" class="form-label">Contagem de estoque</label>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P210</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P21</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P760</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P76</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P380</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
              <div class="col-6 sku">
                <label for="username" class="form-label">Produção</label>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P210</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de geração padrão" required>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de FF" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P21</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de geração padrão" required>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de FF" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P760</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de geração padrão" required>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de FF" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P76</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de geração padrão" required>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de FF" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P380</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de geração padrão" required>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de FF" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex">
              <div class="col-6 sku">
                <label for="username" class="form-label">Saída</label>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P210</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P21</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P760</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P76</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P380</span>
                  <input type="number" class="form-control" id="username" placeholder="Quantidade de peças" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
              <div class="col-6 sku">
                <label for="username" class="form-label">Retorno</label>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P210</span>
                  <input type="number" class="form-control" id="username" placeholder="Retorno" required>
                  <input type="number" class="form-control" id="username" placeholder="Retrabalho" required>
                  <input type="number" class="form-control" id="username" placeholder="Quebra" required>

                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P21</span>
                  <input type="number" class="form-control" id="username" placeholder="Retorno" required>
                  <input type="number" class="form-control" id="username" placeholder="Retrabalho" required>
                  <input type="number" class="form-control" id="username" placeholder="Quebra" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P760</span>
                  <input type="number" class="form-control" id="username" placeholder="Retorno" required>
                  <input type="number" class="form-control" id="username" placeholder="Retrabalho" required>
                  <input type="number" class="form-control" id="username" placeholder="Quebra" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P76</span>
                  <input type="number" class="form-control" id="username" placeholder="Retorno" required>
                  <input type="number" class="form-control" id="username" placeholder="Retrabalho" required>
                  <input type="number" class="form-control" id="username" placeholder="Quebra" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
                <div class="col-12 input-group has-validation">
                  <span class="input-group-text">P380</span>
                  <input type="number" class="form-control" id="username" placeholder="Retorno" required>
                  <input type="number" class="form-control" id="username" placeholder="Retrabalho" required>
                  <input type="number" class="form-control" id="username" placeholder="Quebra" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </main>
</div>
